*{
  padding: 0;
  margin: 0;
}


.page1{
  background-color: pink;
  height: 100vh;
}
.page1 .box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.page1 p{
  font-size: 30px;
  font-weight: bold;
  color: rgb(163, 17, 41);
}
.page1 button{
  background-color: rgb(163, 17, 41);
  padding: 10px 20px;
  outline: none;
  border: 2px solid red;
  color: white;
  border-radius: 10px;
}
.page1 .text1{
  text-align: center;
}

.text1 p {
  opacity: 0;
  transform: scale(0.5);
  animation: pop 0.6s ease-out forwards;
}

/* Pop animation for text + button */
.pop {
  opacity: 0;
  transform: scale(0.5);
  animation: pop 0.6s ease-out forwards;
}

.pop.delay1 {
  animation-delay: 0.3s;
}

.pop.delay2 {
  animation-delay: 0.6s;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.home{
  background-color: pink;
  height: 100vh;
}

.footer {
  position: fixed;      /* stays at bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(161, 47, 66);
}
.footer ul button{
  margin-right: 10px;
  padding: 5px 20px;
}